<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220345031901-loe4afnhbttklgd7o9qls412prkuq78h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220345031901-loe4afnhbttklgd7o9qls412prkuq78h</string>
	<key>API_KEY</key>
	<string>AIzaSyB9AZCc1ARPPaYGKe1wEu7Ld2AQ8J85bcs</string>
	<key>GCM_SENDER_ID</key>
	<string>220345031901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messageApp</string>
	<key>PROJECT_ID</key>
	<string>message-app-8be97</string>
	<key>STORAGE_BUCKET</key>
	<string>message-app-8be97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220345031901:ios:07ffa7ceb8665635ff4f34</string>
</dict>
</plist>